/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 576px) {

    header,
    ul,
    .feature-content {
        padding: 20px;
        text-align: center;
    }

    nav,
    ul {
        flex-direction: column;
    }

    .banner,
    .feature-container {
        flex-direction: column-reverse;
    }

    .banner img {
        width: auto;
        height: auto;
    }

    .brand {
        width: auto;
        flex-wrap: wrap;
    }

}