/* poppins sans font form google  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.primary-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

.primary-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    color: white;
    border: 0px;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
}

/* header style */
header {
    background-color: #F5F5F5;
    padding: 7px 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    text-decoration: none;
    margin: 34px;
    font-weight: 600;
    font-size: 1rem;
    color: #3A3A3A;
}

/* banner title */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 800px;
}

.banner-title {
    font-size: 3.13rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner img {
    width: 440px;
    height: 414px;
}